<footer>
    <div>
        <p>Copyright ©2025<p>
        <p><a class="" href="https://github.com/daiglewilliam13/barebone-test-1">Project Github</a></p>
        <p><a class="" href="https://github.com/daiglewilliam13/nodeBlogGetter">Node Script Github</a></p>
    </div>
</footer>