
{% 
    set navlinks = [
        {
        label:"home",
        url: "/"
    },
    {
        label: "about",
        url: "/about"
    },
    {
        label: "contact",
        url: "/contact"
    },
        {
        label: "blog",
        url: "/blog"
    }
    ]

%}
<nav id="topnav">
    <ul>
        {% for item in navlinks %}
        <li><a href={{item.url}}>{{item.label}}</a></li>
        {% endfor %}
    </ul>
</nav>